.content-container {
  padding-bottom: 0;
}

.result-image-container {
  display: grid;
  grid-template-columns: 30vw 30vw;
  width: 70vw;
  padding-left: 5vh;
  transform: translateY(-25%);
  img {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  .result-image-container {
    display: none;
  }
  #title {
    font-size: 0.9rem;
  }
}
