.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20vh;
}

.nav-bar .flex-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .flex-container-title a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.nav-bar .flex-container-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
}

.nav-bar a {
  padding: 0 2.5vw;
  color: #525151;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    position: relative;
  }
  .nav-bar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    right: 0;
    height: 92vh;
    width: 40vw;
    padding-right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background: #222;
    z-index: 4;
  }
  .nav-bar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3vh;
  }
  .nav-icon-mobile {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 0;
    cursor: pointer;
    z-index: 4;
    padding: 1rem 1rem;
  }
  .nav-icon-mobile span {
    width: 1.2rem;
    height: 3px;
    margin: 0.1rem;
    background: #525151;
  }
  .nav-bar-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  /* !need to find a way to not add !important */
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vh 0 1vh 0;
  font-size: 20px;
  font-weight: 400;
}

.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr;
      grid-template-columns: 2.5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 2vw;
}

.paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 5vh;
}

.paragraph-container p {
  display: inline;
  font-size: 15px;
}

.citation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.citation-container a {
  color: #222;
  list-style: none;
}

.citation-container h3 {
  font-size: 15px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 0;
}

.citation-container #author p {
  padding: 0.5vh;
}

.citation-container #affliation p {
  padding: 0.5vh;
}

.citation-container #lab-link p {
  padding: 0.5vh;
}

.citation-container #source-code p {
  padding: 0.5vh;
}

.citation-container #source-code .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.citation-container #source-code .container img {
  padding: 0.5vw;
}
/*# sourceMappingURL=home.css.map */